@use '_commons' as c;

footer {
    grid-area: footer;
    display: flex;
    background-color: map-get(c.$colores,"header");
    justify-content: space-between;
    align-items: center;
    width: c.$ancho-footer;
    height: c.$alto-footer;
    padding: 20px;
    font-size: c.$font-size-footer-m;
}
  

footer p {
    margin: 0;
    color: map-get(c.$colores,"texto-claro");
    padding-left: 20px;
}
  
 
footer ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 20px;
}


footer ul li {
    color: map-get(c.$colores,"texto-claro");
    margin: 0;
    align-items: center;
    list-style-type: none;
}
  

footer ul li a {
    color: map-get(c.$colores,"texto-menu");
    text-decoration: none;
}
  
footer ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
}
  
footer ul li a:hover {
    color: map-get(c.$colores,"texto-claro");
}
  

@media only screen and (min-width: 768px) {
    footer ul {
      gap: 25px;
    }
    footer ul li a {
      font-size: c.$font-size-footer-t;
    }
    footer p {
      font-size: c.$font-size-footer-t;
      padding-left: 25px;
    }
}

@media only screen and (min-width: 1280px) {
    footer ul {
      gap: 40px;
    }
    footer ul li a {
      font-size: c.$font-size-footer-d;
    }
    footer p {
      font-size: c.$font-size-desktop;
      padding-left: calc(2vh + 10px);
    }
}
  