@use '_commons' as c;

#head {
    display: flex;
    background-color: map-get(c.$colores,"header");
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
    position: relative;
    height: 100px;
    grid-area: head;
}
#check {
    display: none;
}

.checkbtn {
    color: map-get(c.$colores, "checkbtn");
    padding-right: 20px;
}
  
#logo {
    width: c.$ancho-logo-movil;
    padding: 15px;
}
  
.menu ul {
    display: none;
}
  
  /* Configuración del Menú de inicio*/
  
#check:checked ~ ul {
    position: fixed;
    width: 320px;
    top: 0px;
    height: 100%;
    background: map-get(c.$colores,"menu-hamburguesa");
    display: block;
    left: 0%;
    list-style: none;
    font-size: c.$font-size-hamburguer;
    line-height: 50px;
    text-align: left;
    padding-left: 20%;
    padding-top: 50px;
    margin: 0;
}
  
.menu ul li {
    font-weight: lighter;
    list-style: none;
}

.menu ul li a {
    color: map-get(c.$colores,"texto-menu");
    text-decoration: none;
    display: inline-block;
}

.menu ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
}

.menu ul li a:hover {
    color: map-get(c.$colores, "texto-menu-hover");
    transform: scale(1.05);
    transition: 0.3s ease;
    cursor: pointer;
}
  
@media only screen and (min-width: 768px) {
    .menu {
      padding-right: 20px;
    }
    .menu ul {
      display: flex;
      list-style: none;
      gap: 10px;
      font-size: c.$font-size-tablet;
    }
    .menu ul li {
      font-weight: lighter;
      list-style: none;
    }
    .menu ul li a {
      color: map-get(c.$colores, "texto-menu");
      text-decoration: none;
      display: inline-block;
    }
    .menu ul li a {
      transition: color 0.3s ease;
      text-decoration: none;
    }
    .menu ul li a:hover {
      color: map-get(c.$colores,"texto-menu-hover");
      transform: scale(1.05);
      transition: 0.3s ease;
    }
    .checkbtn {
      display: none;
    }
    #logo {
      padding: 25px;
    }
}
  
@media only screen and (min-width: 1280px) {
    .menu {
      padding-right: 40px;
    }
    .menu ul {
      font-size: c.$font-size-desktop;
  
      gap: 15px;
    }
    #logo {
      width: c.$ancho-logo-desktop;
    }
}
/*Fin Configuración Menú inicio responsive*/