* {
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#container__aboutUs {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr 80px;
  grid-template-areas:
    "head"
    "section1"
    "footer";
  background: linear-gradient(
    to left,
    #f1f2f6 10%,
    rgba(238, 210, 255, 0.3) 100%
  );
}

/*Configuración Header*/
#head {
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  position: relative;
  height: 100px;
  grid-area: head;
}
#check {
  display: none;
}
.checkbtn {
  color: white;
  padding-right: 20px;
}

#logo {
  width: 130px;
  padding: 15px;
}

.menu ul {
  display: none;
}

/* Configuración del Menú de inicio*/
#check:checked ~ ul {
  position: fixed;
  width: 320px;
  top: 80px;
  height: 100%;
  background: rgba(42, 42, 42, 0.9);
  display: block;
  left: 0%;
  list-style: none;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
  padding-left: 20%;
  padding-top: 50px;
  margin: 0;
}

.menu ul li {
  font-weight: lighter;
  list-style: none;
}
.menu ul li a {
  color: #ffc300;
  text-decoration: none;
  display: inline-block;
}
.menu ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}
.menu ul li a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .menu {
    padding-right: 20px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 14px;
  }
  .menu ul li {
    font-weight: lighter;
    list-style: none;
  }
  .menu ul li a {
    color: #ffc300;
    text-decoration: none;
    display: inline-block;
  }
  .menu ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
  }
  .menu ul li a:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
  }
  .checkbtn {
    display: none;
  }
  #logo {
    padding: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .menu {
    padding-right: 40px;
  }
  .menu ul {
    font-size: 18px;

    gap: 15px;
  }
  #logo {
    width: 150px;
  }
}
/*Fin Configuración Menú inicio responsive*/

#section1__aboutUs {
  grid-area: section1;
}

#section1__aboutUs h1 {
  text-align: center;
  font-size: 40px;
}

.img__about__us {
  height: auto;
  width: 100%;
}

.letter__company {
  margin: 0;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
}
.letter__company h3 {
  max-width: 1200px;
  font-size: 30px;
  font-weight: 600;
}

.letter__company p {
  max-width: 1200px;
  text-align: justify;
}

/*Configuración estilo timeline*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}
.container__aboutUs {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 25px;
  position: relative;
  width: 100%;
}

.text__box {
  padding: 20px 30px;
  background: rgba(33, 39, 202, 0.1);
  position: relative;
  border-radius: 6px;
  font-size: 13px;
}

.left__container {
  left: 0;
}

.right__container {
  left: 0%;
}

.container__aboutUs img {
  position: absolute;
  width: 40px;
  border-radius: 10%;
  top: 32px;
  z-index: 10;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 31px;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}
@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.text__box h2 {
  font-weight: 600;
}
.text__box small {
  display: inline-block;
  margin-bottom: 10px;
}

.right__container__arrow,
.left__container__arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(33, 39, 202, 0.1);
  border-left: 0;
  left: -15px;
}

@media only screen and (min-width: 300px) {
  .right__container img {
    left: 10px;
  }
  .left__container img {
    right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .timeline {
    margin: 100px auto;
  }
  .timeline::after {
    left: 50%;
  }
  .container__aboutUs {
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
  }

  .text__box {
    font-size: 15px;
  }
  .text__box small {
    margin-bottom: 15px;
  }

  .left__container {
    left: 0;
  }
  .left__container img {
    right: -20px;
  }
  .right__container {
    left: 50%;
  }
  .right__container img {
    left: -20px;
  }

  .left__container__arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 0;
    border-left: 15px solid rgba(33, 39, 202, 0.1);
    left: -15px;
  }
}

/*Configuración del Footer*/

footer {
  grid-area: footer;
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 14px;
}

footer p {
  margin: 0;
  color: #fff;
  padding-left: 20px;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 20px;
}
footer ul li {
  color: aliceblue;
  margin: 0;
  align-items: center;
  list-style-type: none;
}

footer ul li a {
  color: #ffc300;
  text-decoration: none;
}

footer ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}

footer ul li a:hover {
  color: aliceblue;
}

@media only screen and (min-width: 768px) {
  footer ul {
    gap: 25px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 16px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  footer ul {
    gap: 40px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
    padding-left: 40px;
  }
}
