* {
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#container__contact {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 1fr 80px;
  grid-template-areas:
    "head"
    "section1"
    "footer";
}

/*Configuración Header*/
#head {
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  position: relative;
  height: 100px;
  grid-area: head;
}
#check {
  display: none;
}
.checkbtn {
  color: white;
  padding-right: 20px;
}

#logo {
  width: 130px;
  padding: 15px;
}

.menu ul {
  display: none;
}

/* Configuración del Menú de inicio*/

#check:checked ~ ul {
  position: fixed;
  width: 320px;
  top: 80px;
  height: 100%;
  background: rgba(42, 42, 42, 0.9);
  display: block;
  left: 0%;
  list-style: none;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
  padding-left: 20%;
  padding-top: 50px;
  margin: 0;
}

.menu ul li {
  font-weight: lighter;
  list-style: none;
}
.menu ul li a {
  color: #ffc300;
  text-decoration: none;
  display: inline-block;
}
.menu ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}
.menu ul li a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .menu {
    padding-right: 20px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 14px;
  }
  .menu ul li {
    font-weight: lighter;
    list-style: none;
  }
  .menu ul li a {
    color: #ffc300;
    text-decoration: none;
    display: inline-block;
  }
  .menu ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
  }
  .menu ul li a:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
  }
  .checkbtn {
    display: none;
  }
  #logo {
    padding: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .menu {
    padding-right: 40px;
  }
  .menu ul {
    font-size: 18px;

    gap: 15px;
  }
  #logo {
    width: 150px;
  }
}
/*Fin Configuración Menú inicio responsive*/

#section1__contact {
  grid-area: section1;
  background-image: url(img__contact2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#section1__contact h1 {
  font-size: 30px;
  color: #ffc300;
  font-weight: normal;
}
#section1__contact .form__contact {
  background: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 600px;
  padding: 5px 35px;
  margin: 30px 0;
  padding-bottom: 30px;
  border-radius: 5px;
}

.form__contact .form__label {
  display: block;
  color: rgba(245, 245, 245, 0.8);
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.form__contact .form__input,
.form__textarea {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #ffc300;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 14px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.form__contact .form__textarea {
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
.form__contact .btn__submit {
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  outline: none;
  background-color: #ffd60a;
  font-size: 18px;
  border: none;
  color: #252422;
  padding: 15px 0;
  cursor: pointer;
  transition: all 0.5s ease;
}
.form__contact .btn__submit:hover {
  background-color: #ffc300;
  color: red;
}

@media only screen and (min-width: 768px) {
  .img__contact {
    height: 50vh;
  }
}
@media only screen and (min-width: 1280px) {
  .img__contact {
    height: 60vh;
  }
}

/*Configuración del Footer*/

footer {
  grid-area: footer;
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 14px;
}

footer p {
  margin: 0;
  color: #fff;
  padding-left: 20px;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 20px;
}
footer ul li {
  color: aliceblue;
  margin: 0;
  align-items: center;
  list-style-type: none;
}

footer ul li a {
  color: #ffc300;
  text-decoration: none;
}

footer ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}

footer ul li a:hover {
  color: aliceblue;
}

@media only screen and (min-width: 768px) {
  footer ul {
    gap: 25px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 16px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  footer ul {
    gap: 40px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
    padding-left: 40px;
  }
}
