html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#container__index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 100vh 120vh 100vh 80px;
  grid-template-areas:
    "head"
    "section1"
    "section2"
    "section3"
    "footer";
}

/*Configuración Header*/
#head {
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  position: relative;
  height: 100px;
  grid-area: head;
}
#check {
  display: none;
}
.checkbtn {
  color: white;
  padding-right: 20px;
}

#logo {
  width: 130px;
  padding: 15px;
}

.menu ul {
  display: none;
}

/* Configuración del Menú de inicio*/

#check:checked ~ ul {
  position: fixed;
  width: 320px;
  top: 80px;
  height: 100%;
  background: rgba(42, 42, 42, 0.9);
  display: block;
  left: 0%;
  list-style: none;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
  padding-left: 20%;
  padding-top: 50px;
  margin: 0;
}

.menu ul li {
  font-weight: lighter;
  list-style: none;
}
.menu ul li a {
  color: #ffc300;
  text-decoration: none;
  display: inline-block;
}
.menu ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}
.menu ul li a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto auto auto 80px;
    grid-template-areas:
      "head head head"
      "section1 section1 section1"
      "section2 section2 section2"
      "section3 section3 section3"
      "footer footer footer";
  }
  .menu {
    padding-right: 20px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 14px;
  }
  .menu ul li {
    font-weight: lighter;
    list-style: none;
  }
  .menu ul li a {
    color: #ffc300;
    text-decoration: none;
    display: inline-block;
  }
  .menu ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
  }
  .menu ul li a:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
  }
  .checkbtn {
    display: none;
  }
  #logo {
    padding: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .menu {
    padding-right: 40px;
  }
  .menu ul {
    font-size: 18px;

    gap: 15px;
  }
  #logo {
    width: 150px;
  }
}
/*Fin Configuración Menú inicio responsive*/

.section__parallax {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.parallax {
  background: #fff fixed no-repeat 50% 50%;
  background-size: cover;
}

#section1__index {
  grid-area: section1;
  background-image: url(../img/AdobeStock_354102149.jpeg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bloque1__index {
  text-align: center;
  color: #e9ecef;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 0;
  width: 320px;
}

.bloque1__index:hover {
  background: rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
  transition: 0.5s ease;
}
.boton__index {
  background-color: rgb(0, 18, 137, 0);
  color: #e9ecef;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 15px 0;
  border-radius: 5px;
  border: solid 0px;
}
.boton__index:hover {
  color: rgba(255, 255, 5, 0.855);
}

.bloque1__index h1 {
  font-size: 2rem;
  margin: 0;
  padding: 20px;
}
.bloque1__index p {
  font-size: 1.5rem;
  padding: 10px;
  margin: 0;
  width: 310px;
}

#section2__index {
  grid-area: section2;
  background-color: #001d3d;
  background-color: #252422;
  display: flex;
  height: 120vh;
}

.bloque2__index {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px 0;
}

.img__bloque2 {
  width: 300px;
  height: 45vh;
  object-fit: cover;
  border-radius: 20px;
}

.img2__bloque2 {
  width: 300px;
  height: 45vh;
  object-fit: cover;
  border-radius: 20px;
}
.bloque2__index p {
  font-size: 18px;
  color: white; /*texto claro*/
  width: 320px;
  padding: 5px 0;
}

#section3 {
  grid-area: section3;
  background-image: url(../img/AdobeStock_354102149.jpeg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.bloque3 {
  text-align: center;
  color: #e9ecef;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 0;
  width: 320px;
}

.bloque3:hover {
  background: rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
  transition: 0.5s ease;
}

.bloque3 h2 {
  font-size: 2rem;
  margin: 0;
  padding: 20px;
}
.bloque3 p {
  font-size: 1.5rem;
  padding: 10px;
  margin: 0;
  width: 310px;
}

@media only screen and (min-width: 768px) {
  .bloque2__index {
    flex-direction: column;
    justify-content: center;
  }
  #section1__index {
    height: 100vh;
  }
  #section3 {
    height: 100vh;
  }
  .img__bloque2 {
    width: 60vh;
    height: 40vh;
  }

  .img2__bloque2 {
    width: 60vh;
    height: 40vh;
    object-fit: cover;
    border-radius: 20px;
  }
  .bloque2__index p {
    font-size: 20px;
    color: white;
    width: 450px;
    padding: 40px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .bloque1__index {
    width: 500px;
  }
  .bloque1__index h1 {
    padding: 25px;
  }
  .bloque1__index p {
    padding: 15px;
    width: 450px;
  }
  #section2__index {
    height: 80vh;
  }
  .bloque2__index {
    flex-direction: row;
    justify-content: space-around;
  }
  .img__bloque2 {
    width: 60vh;
    height: 60vh;
  }

  .img2__bloque2 {
    width: 60vh;
    height: 60vh;
  }
  .bloque2__index p {
    font-size: 25px;
  }
  .bloque3 {
    width: 500px;
  }
  .bloque3 h2 {
    padding: 25px;
  }
  .bloque3 p {
    padding: 15px;
    width: 450px;
  }
}

#footer {
  grid-area: footer;
}

footer {
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;
}

footer p {
  margin: 0;
  color: #fff;
  padding-left: 20px;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 20px;
}
footer ul li {
  color: aliceblue;
  margin: 0;
  align-items: center;
  list-style-type: none;
  font-size: 14px;
}

footer ul li a {
  color: #ffc300;
  text-decoration: none;
}

footer ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}

footer ul li a:hover {
  color: aliceblue;
}
@media only screen and (min-width: 768px) {
  footer ul {
    gap: 25px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 16px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  footer ul {
    gap: 40px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
    padding-left: 40px;
  }
}
