html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#container__me {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 100vh 120vh 100vh 80px;
  grid-template-areas:
    "head"
    "section1"
    "footer";
}

/*Configuración Header*/
#head {
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  position: relative;
  height: 100px;
  grid-area: head;
}
#check {
  display: none;
}
.checkbtn {
  color: white;
  padding-right: 20px;
}

#logo {
  width: 130px;
  padding: 15px;
}

.menu ul {
  display: none;
}

/* Configuración del Menú de inicio*/

#check:checked ~ ul {
  position: fixed;
  width: 320px;
  top: 80px;
  height: 100%;
  background: rgba(42, 42, 42, 0.9);
  display: block;
  left: 0%;
  list-style: none;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
  padding-left: 20%;
  padding-top: 50px;
  margin: 0;
}

.menu ul li {
  font-weight: lighter;
  list-style: none;
}
.menu ul li a {
  color: #ffc300;
  text-decoration: none;
  display: inline-block;
}
.menu ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}
.menu ul li a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  #container__me {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px auto 80px;
    grid-template-areas:
      "head head head"
      "section1 section1 section1"
      "footer footer footer";
  }
  .menu {
    padding-right: 20px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 14px;
  }
  .menu ul li {
    font-weight: lighter;
    list-style: none;
  }
  .menu ul li a {
    color: #ffc300;
    text-decoration: none;
    display: inline-block;
  }
  .menu ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
  }
  .menu ul li a:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
  }
  .checkbtn {
    display: none;
  }
  #logo {
    padding: 25px;
  }
}

@media only screen and (min-width: 1280px) {
  .menu {
    padding-right: 40px;
  }
  .menu ul {
    font-size: 18px;

    gap: 15px;
  }
  #logo {
    width: 150px;
  }
}
/*Fin Configuración Menú inicio responsive*/

.img__banner {
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
}
.titulo__productos {
  text-align: center;
  font-weight: 500;
  padding: 30px 0;
}

#footer2 {
  grid-area: footer;
}

footer {
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px;
  margin-top: 20px;
}

footer p {
  margin: 0;
  color: #fff;
  padding-left: 20px;
  font-size: 16px;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 20px;
}
footer ul li {
  color: aliceblue;
  margin: 0;
  align-items: center;
  list-style-type: none;
}

footer ul li a {
  color: #ffc300;
  text-decoration: none;
  font-size: 14px;
}

footer ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}

footer ul li a:hover {
  color: aliceblue;
}

@media only screen and (min-width: 768px) {
  footer ul {
    gap: 25px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 16px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  footer ul {
    gap: 40px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
    padding-left: 40px;
  }
}
