* {
  box-sizing: border-box;
}
html,
body {
  font-family: sans-serif;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to left,
    #f1f2f6 10%,
    rgba(238, 210, 255, 0.3) 100%
  );
}
#container__service {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px auto auto 80px;
  grid-template-areas:
    "head"
    "section1"
    "section2"
    "footer";
}

/*Configuración Header*/
#head {
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  flex-wrap: wrap;
  position: relative;
  height: 100px;
  grid-area: head;
}
#check {
  display: none;
}
.checkbtn {
  color: white;
  padding-right: 20px;
}

#logo {
  width: 130px;
  padding: 15px;
}

.menu ul {
  display: none;
}

/* Configuración del Menú de inicio*/
#check:checked ~ ul {
  position: fixed;
  width: 320px;
  top: 80px;
  height: 100%;
  background: rgba(42, 42, 42, 0.9);
  display: block;
  left: 0%;
  list-style: none;
  font-size: 18px;
  line-height: 50px;
  text-align: left;
  padding-left: 20%;
  padding-top: 50px;
  margin: 0;
}

.menu ul li {
  font-weight: lighter;
  list-style: none;
}
.menu ul li a {
  color: #ffc300;
  text-decoration: none;
  display: inline-block;
}
.menu ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}
.menu ul li a:hover {
  color: white;
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .menu {
    padding-right: 20px;
  }
  .menu ul {
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 14px;
  }
  .menu ul li {
    font-weight: lighter;
    list-style: none;
  }
  .menu ul li a {
    color: #ffc300;
    text-decoration: none;
    display: inline-block;
  }
  .menu ul li a {
    transition: color 0.3s ease;
    text-decoration: none;
  }
  .menu ul li a:hover {
    color: white;
    transform: scale(1.05);
    transition: 0.3s ease;
  }
  .checkbtn {
    display: none;
  }
  #logo {
    padding: 25px;
    width: 150px;
  }
}

@media only screen and (min-width: 1280px) {
  .menu {
    padding-right: 40px;
  }
  .menu ul {
    font-size: 18px;

    gap: 15px;
  }
  #logo {
    width: 200px;
  }
}
/*Fin Configuración Menú inicio responsive*/

#section1__service {
  grid-area: section1;
  width: 100%;
  background-image: url(/assets/img/img_services.jpeg);
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

.bloque1__service {
  text-align: center;
  color: #e9ecef;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 0;
  width: 320px;
}

#section2__service {
  grid-area: section2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 30px;
}
.text__principal {
  background: rgba(180, 243, 248, 0.8);
  padding: 25px 15px;
}
.text__video {
  padding: 15px 10px;
  text-align: center;
}
.text__video p {
  text-align: justify;
  padding: 15px;
  font-size: 15px;
}
/*Configuración del Footer*/

footer {
  grid-area: footer;
  display: flex;
  background-color: #252422;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  font-size: 14px;
}

footer p {
  margin: 0;
  color: #fff;
  padding-left: 20px;
}

footer ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-right: 20px;
}
footer ul li {
  color: aliceblue;
  margin: 0;
  align-items: center;
  list-style-type: none;
}

footer ul li a {
  color: #ffc300;
  text-decoration: none;
}

footer ul li a {
  transition: color 0.3s ease;
  text-decoration: none;
}

footer ul li a:hover {
  color: aliceblue;
}

@media only screen and (min-width: 768px) {
  footer ul {
    gap: 25px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 16px;
    padding-left: 25px;
  }
}
@media only screen and (min-width: 1280px) {
  footer ul {
    gap: 40px;
  }
  footer ul li a {
    font-size: 16px;
  }
  footer p {
    font-size: 18px;
    padding-left: 40px;
  }
}
